**/nbproject/
*.bak
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.launch
*.log
*.nar
*.pydevproject
*.rar
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*~.nib
.apt_generated/
.apt_generated_test/
.autotools
.buildpath
.cache-main
.cproject
.externalToolBuilders/
.factorypath
.idea/
.idea_modules/
.loadpath
.metadata
.mtj.tmp/
.nb-gradle/
.project
.recommenders
.recommenders/
.scala_dependencies
.settings/
.springBeans
.sts4-cache/
.target
.tern-project
.texlipse
.worksheet
Brewfile.lock.json
atlassian-ide-plugin.xml
bin/
build/
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dist/
fabric.properties
hs_err_pid*
local.properties
modules.xml
nbbuild/
nbdist/
out/
replay_pid*
tmp/
