#version=DEVEL
ignoredisk --only-use=sda
# Partition clearing information
clearpart --all --initlabel
# Use graphical install
graphical
# Use hard drive installation media
harddrive --dir=None --partition=/dev/mapper/live-base
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --hostname=boronLenovo
#Root password
rootpw --lock
# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc
# Disk partitioning information
part /boot --fstype="ext4" --label=boot
part /boot/efi --fstype="efi" --fsoptions="umask=0077,shortname=winnt" --label=efi
part pv.337 --fstype="lvmpv" --ondisk=sda --size=952868 --encrypted --luks-version=luks1
volgroup fedora --pesize=16384 pv.337
logvol / --fstype="ext4" --size=944672 --label="slash" --name=slash --vgname=fedora
logvol swap --fstype="swap" --size=8192 --name=swap --vgname=fedora

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
