#version=DEVEL
# Use graphical install
graphical
# Use hard drive installation media
harddrive --dir=None --partition=/dev/mapper/live-base

# Keyboard layouts
keyboard --xlayouts='us','in (bolnagri)' --switch='grp:win_space_toggle'
# System language
lang en_IN.UTF-8

# Network information
network --hostname=boronLenovo

# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"

ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot/efi --fstype="efi" --fsoptions="umask=0077,shortname=winnt" --label=efi
part pv.205 --fstype="lvmpv" --ondisk=sda --size=475315 --encrypted --luks-version=luks2
part /boot --fstype="ext4" --label=boot
volgroup fedora --pesize=4096 pv.205
logvol / --fstype="ext4" --size=467120 --label="slash" --name=slash --vgname=fedora
logvol swap --fstype="swap" --size=8192 --name=swap --vgname=fedora

# System timezone
timezone Asia/Kolkata --utc

#Root password
rootpw --lock

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
