[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Icon=/opt/android-studio/bin/studio.png
Exec=env __GLX_VENDOR_LIBRARY_NAME=nvidia __NV_PRIME_RENDER_OFFLOAD=1 /opt/android-studio/bin/studio.sh %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
